In [3]:
import pandas as pd

# Membaca file CSV
data = pd.read_csv('movie_sample_dataset.csv')

# Melihat beberapa baris pertama dari data
# Tambahkan angka jika ingin menampilkan n baris pertama dari data.
# Misallnya jika ingin menampilkan 4 baris pertama, maka tambahkan angka 4. Sehingga menjadi print(data.head(4))
print(data.head(10)) #hapus tanda () jika ingin melihat semua baris

    color      director_name  duration        gross  \
0   Color    Martin Scorsese       240  116866727.0
1   Color        Shane Black       195  408992272.0
2  color   Quentin Tarantino       187   54116191.0
3   Color   Kenneth Lonergan       186      46495.0
4   Color      Peter Jackson       186  258355354.0
5     NaN                NaN       183  330249062.0
6   Color      Peter Jackson       -50  303001229.0
7   Color        Edward Hall       180          NaN
8   Color        Joss Whedon       173  623279547.0
9   Color        Joss Whedon       173  623279547.0

                                 genres                          movie_title  \
0          Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1               Action|Adventure|Sci-Fi                           Iron Man 3
2  Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                 Drama                             Margaret
4                     Adventure|Fantasy  The Hobbit: The Desolation of Smaug
5               Action|Adventure|Sci-Fi   Batman v Superman: Dawn of Justice
6                     Adventure|Fantasy    The Hobbit: An Unexpected Journey
7                         Drama|Romance                             Restless
8               Action|Adventure|Sci-Fi                         The Avengers
9               Action|Adventure|Sci-Fi                         The Avengers

   title_year language country       budget  imdb_score  \
0        2013  English     USA  100000000.0         8.2
1        2013  English     USA  200000000.0         7.2
2        2015  English     USA   44000000.0         7.9
3        2011  English     usa   14000000.0         6.5
4        2013  English     USA  225000000.0         7.9
5         202  English     USA  250000000.0         6.9
6        2012  English     USA  180000000.0         7.9
7        2012  English      UK          NaN         7.2
8        2012  English     USA  220000000.0         8.1
9        2012  English     USA  220000000.0         8.1

                                              actors  movie_facebook_likes
0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2          Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4              Aidan Turner,Adam Brown,James Nesbitt                 83000
5           Henry Cavill,Lauren Cohan,Alan D. Purwin                197000
6              Aidan Turner,Adam Brown,James Nesbitt                166000
7      Rufus Sewell,Hayley Atwell,Charlotte Rampling                   434
8  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000

In [4]:
# Menampilkan informasi umum mengenai data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB
None

In [5]:
# Mengecek jumlah missing values di setiap kolom
print(data.isnull().sum())

color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [48]:
# Melihat tipe data di setiap kolom
print(data.dtypes)

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [30]:
# Menghapus baris yang memiliki nilai NaN di semua kolom
data_cleaned = data.dropna(inplace=True)

In [46]:
# Mengubah nilai di kolom menjadi huruf kecil
data['color'] = data['color'].str.lower()
data['country'] = data['country'].str.lower()


# Menghapus spasi di awal dan akhir nilai
data['color'] = data['color'].str.strip()

In [44]:
# Mengubah nilai negatif menjadi nilai absolut
data['duration'] = data['duration'].abs()
data['imdb_score'] = data['imdb_score'].abs()
print(data)

    color      director_name  duration        gross  \
0   color    Martin Scorsese       240  116866727.0
1   color        Shane Black       195  408992272.0
2   color  Quentin Tarantino       187   54116191.0
3   color   Kenneth Lonergan       186      46495.0
4   color      Peter Jackson       186  258355354.0
..    ...                ...       ...          ...
93  color        Tony Gilroy       135  113165635.0
94  color      Steve McQueen       134   56667870.0
96  color    Paul Greengrass       134  107100855.0
97  color         David Ayer       134   85707116.0
98  color     Clint Eastwood         5   47034272.0

                                  genres                          movie_title  \
0           Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1                Action|Adventure|Sci-Fi                           Iron Man 3
2   Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                  Drama                             Margaret
4                      Adventure|Fantasy  The Hobbit: The Desolation of Smaug
..                                   ...                                  ...
93             Action|Adventure|Thriller                    The Bourne Legacy
94               Biography|Drama|History                     12 Years a Slave
96              Biography|Drama|Thriller                     Captain Phillips
97                      Action|Drama|War                                 Fury
98         Biography|Drama|Music|Musical                          Jersey Boys

    title_year language country       budget  imdb_score  \
0         2013  English     USA  100000000.0         8.2
1         2013  English     USA  200000000.0         7.2
2         2015  English     USA   44000000.0         7.9
3         2011  English     usa   14000000.0         6.5
4         2013  English     USA  225000000.0         7.9
..         ...      ...     ...          ...         ...
93        2012  English     USA  125000000.0         6.7
94        2013  English     USA   20000000.0         8.1
96        2013  English     USA   55000000.0         7.9
97        2014  English     USA   68000000.0         7.6
98        2014  English     USA   40000000.0         6.9

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
..                                                ...                   ...
93              Jeremy Renner,Scott Glenn,Stacy Keach                 31000
94       QuvenzhanÃ© Wallis,Scoot McNairy,Taran Killam                 83000
96             Tom Hanks,Chris Mulkey,Michael Chernus                 65000
97                 Brad Pitt,Logan Lerman,Jim Parrack                 82000
98      Johnny Cannizzaro,Steve Schirripa,Scott Vance                 16000

[69 rows x 13 columns]

In [47]:
# Menyimpan data ke file CSV
data.to_csv('movie_sample_dataset.csv', index=True)